<% calendarDays.forEach(calendarDay => { %>
    <a href="/day/<%= calendarDay.year %>/<%= calendarDay.month %>/<%= calendarDay.day %>" class="days">
        <section>
            <h2 class="day_header"><%= calendarDay.dayHeader %></h2>
            <p class="holiday"><%= calendarDay.holidayName %></p>
        </section>
    </a>
<% }) %>
