<!DOCTYPE html>
<html lang="en">

<head>
<<<<<<< HEAD
    <%- includes('./partials/head.ejs') %>
=======
    <%- include('./partials/head') %>
>>>>>>> 7a34d869a527cc4a91cb5ca21e7a29f5532c9f7b
</head>

<body>
    <header>
<<<<<<< HEAD
        <%- includes('./partials/header.ejs') %>
    </header>

    <main>
        <% oneMonthHolidays.forEach( dateDisplayed => {) %>
            <section class="days">
                <%- includes('./partials/day.ejs) %>
            </section>
            <% } %>
    </main>

    <footer>
        <%- includes('.partials/footer.ejs') %>
=======
        <%- include('./partials/header') %>
    </header>

    <main>


        <section class="days">
            <%- include('./partials/day') %>

        </section>

    </main>

    <footer>
        <%- include('./partials/footer') %>
>>>>>>> 7a34d869a527cc4a91cb5ca21e7a29f5532c9f7b
    </footer>

</body>

</html>