<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>

    <main>
        <section class="days">
            <% calendarDays.forEach(calendarDay => { %>
                <% if (calendarDay) { %>
                <a href="/day/<%= calendarDay.year %>/<%= calendarDay.month %>/<%= calendarDay.day %>" class="days">
                    <section>
                        <h2>
                            <%= calendarDay.dayHeader %>
                        </h2>
                        <p>
                            <%= calendarDay.holidayName %>
                        </p>
                    </section>
                </a>
                <% } else { %>
                <section>Blank</section>
                <% } %>
            <% }) %>
        </section>
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>