<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <form id="" action="/<%infoToUpdate.day%>/update" method="POST">
            <fieldset>
                <input type="text" name="name" value="<%=infoToUpdate.name%>">
                <input type="text" name="type" value="<%=infoToUpdate.type%>">
                <input type="text" name="description" value="<%=infoToUpdate.description%>">

                <input type="submit" value="update">
            </fieldset>
        </form>

    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>