<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <a class="forms-links" href="/day/<%=renderData[0].holidays[0].year%>/<%=renderData[0].holidays[0].month%>/<%=renderData[0].holidays[0].day%>/add">add holiday</a>
        <article>
            <% renderData[0].holidays.forEach(holiday => { %>
                <p><a href="/day/<%=holiday.year%>/<%=holiday.month%>/<%=holiday.day%>/<%=holiday.name%>/change"><%= holiday.name %></a></p>
                <p>weare going to: /day/<%=holiday.year%>/<%=holiday.month%>/<%=holiday.day%>/<%=holiday.name%>/change</p>
                
                <p>year is <%=holiday.year%></p>
                <p>month is <%=holiday.month%></p>

                <p>day is <%=holiday.day%></p>

            <% }) %>
        </article>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>