<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <p>
            <%=renderData[0].holidays[0].month%>/
                <%=renderData[0].holidays[0].day%>/
                    <%=renderData[0].holidays[0].year%>
        </p>

        <a class="forms-links" href="/day/<%=renderData[0].holidays[0].year%>/<%=renderData[0].holidays[0].month%>/<%=renderData[0].holidays[0].day%>/add">add holiday</a>
        <article>
            <% renderData[0].holidays.forEach(holiday => { %>
                <article>
                    <a href="/day/<%=holiday.year%>/<%=holiday.month%>/<%=holiday.day%>/<%=holiday.name%>/change">
                        <%= holiday.name %>
                    </a>

                    <p>
                        <%= holiday.description %>
                    </p>
                    <% }) %>
                </article>
        </article>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>