<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <a href="/day/<%=renderData[0].holidays[0].year%>/<%=renderData[0].holidays[0].month%>/<%=renderData[0].holidays[0].day%>/add">add holiday</a> /
        <p>
            <%=renderData[0].holidays[0].year%>/
                <%=renderData[0].holidays[0].month%>/
                    <%=renderData[0].holidays[0].day%>/add</p>
                    

        <article>
                <p><% renderData[0].holidays.forEach(holiday => { %>
                    <p><%= holiday.name %></p>
                <% }) %></p>
        </article>


        <p>



            <%= renderData[0].holidays[0].year %>
        </p>
        <p>
            <%= renderData[0].holidays[0].month %>
        </p>
        <p>
            <%= renderData[0].holidays[0].day %>
        </p>
        <p>
            <%= renderData[0].holidays[0].name %>
        </p>



    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>